*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../img/background-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: transparent;
}

.nav a{
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    list-style: none;
}

.nav a:hover{
    color:#1c4cdc;
}

.logo{
    width: 130px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10%;
    text-align: center;
}


.hero-heading{
    font-size: 100px;
    font-weight: 700;
    color: #333;
    font-family: "Luckiest Guy", cursive;
}

.hero-text{
    font-size: 20px;
    color: #777;
    margin-bottom: 40px;
}

.h6-hero{
    font-size: 15px;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 30px;
}


.footer-1{
    background: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-1 a{
    color: #ffffff;
}